* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b45309;
}
.App {
  background-color: var(--primary-color);
  width: 600px;
  margin: auto;
  margin-top: 5rem;
  /* text-align: center; */
}
.section-image {
  text-align: right;
}
