* {
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

:root {
  --primary-color: #A7F3D0;
  --secondary-color: #FDE68A;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--secondary-color);
}

.App {
  width: 500px;
  margin: auto;
  margin-top: 0.2rem;
  text-align: center;
  border-radius: 1rem;
}
.section-image {
  text-align: left; 
  margin: 1rem;
  border-radius: 0.5rem;
  padding: -2px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 5px 2px;
}
img{
  width: 100px;
  height: 100px;
  padding: 1rem;
  
}
h1{
  padding: 0.5rem;
}
small{
  position: relative;
  bottom: 3.5rem;
  font-size: 15px;
  text-align: left;
}
h3{
  position: relative;
  bottom: 7rem;
  /* font-size: 30px; */
}
button{
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  cursor:pointer;
  background-color: #3B82F6;
  color:white;
 
  font-weight: 900;
  
}
.display{
  height: 110px;
  color: #3B82F6;
}
h1{
  color: #3B82F6;
}
